#!/bin/bash

bi () {
	brew install $*;
	brew bundle dump --force --file=~/laptop/Brewfile
}
	
bu () {
	brew uninstall $*;
	brew bundle dump --force --file=~/laptop/Brewfile
}

function mkd() {
  mkdir -p "$@" && cd "$_";
}
