[user]
    name = Bart Callant
	email = bart@callant.net
[includeIf "gitdir:~/Projects/Work/"]
    path = .gitconfig-work

[core]
	editor = code --wait --new-window
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --new-window --diff $LOCAL $REMOTE
